# The database should not be accessible publicly.
# Any interactions with the database should be made through
# meme-archives-api endpoints, so the database does not need to
# be exposed on a port to the outside world.
# This file will need to be copied to meme-archives-ops/config/meme-archives-db.env
# and updated accordingly in order to be used by the `docker-compose up` command.

POSTGRES_PASSWORD= # set to a highly random string at least 32 characters
POSTGRES_USER=user
POSTGRES_DB=db
POSTGRES_HOST=localhost # use localhost in dev and prod
POSTGRES_PORT=5555 # use 5555 in dev and prod
