# See the paintsol-web repo for the .env.local file that is used by Docker Compose
# The paintsol-ops repo must exist as a sibling to the paintsol-api and paintsol-web
# repos for Docker Compose / deployment purposes. The env vars that are set in the
# ../../paintsol-api/.env file and the ../../paintsol-web/.env.local file are
# the env vars that will be used within the Docker containers.
